.singleProduct {
  width: 100%;
  .contanier {
    .row {
      .singleProduct {
        width: 100%;
        display: flex;
        .singleProductDetails {
          display: flex;
          justify-content: center;
          width: 100%;
          .singleProductImg {
            width: 30%;
            img {
              width: 100%;
            }
          }
          .singleProductDetail {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            .singleTitle {
              p {
                font-family: aktiv-grotesk, arial, sans-serif;
                font-size: 24px;
                line-height: 1.3;
              }
            }
            .singlePrice {
              margin-top: 15px;
              display: flex;
              gap: 10px;

              .oldPrice {
                text-decoration: line-through;
                font-size: 18px;
                font-family: gilroy, arial, sans-serif;
                font-weight: 300;
              }
              .newPrice {
                color: #a90534;
                font-size: 18px;
                font-family: gilroy, arial, sans-serif;
                font-weight: 300;
              }
            }
            .kazanc {
              span {
                color: rgb(230, 13, 74);
                margin-top: 10px;
                font-weight: 300;
                display: block;
              }
            }
            .productSize {
              display: flex;
              gap: 5px;
              span {
                min-width: calc((100% / 7) - 10px);
                line-height: 34px;
                font-size: 12px;
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
                margin-top: 15px;
                border: 1px solid #efefef;
                cursor: pointer;
                text-align: center;
                position: relative;
              }
            }
            .productBtn{
              display: flex;
              gap: 10px;
              margin-top: 5%;
              .select{
                position: relative;
                display: inline-block;
                padding: 0 35px;
                line-height: 48px;
                background: #efefef;
                border: 1px solid transparent;
                font-family: gilroy,arial,sans-serif;
                font-size: 14px;
                color: black;
                font-weight: 500;
                letter-spacing: .1px;
                transition: all .32s ease;
                outline: 0;
                cursor: pointer;
              }
              button{
                position: relative;
                display: inline-block;
                padding: 0 35px;
                line-height: 48px;
                background: #252525;
                border: 1px solid transparent;
                font-family: gilroy,arial,sans-serif;
                font-size: 14px;
                color: #FFF;
                font-weight: 500;
                letter-spacing: .1px;
                transition: all .32s ease;
                outline: 0;
                cursor: pointer;
                &:hover{
                  background: #a90534;
                }
              }
            }
          }
        }
      }
    }
  }
}
.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
  width: 49%;
}

.rating input {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 3rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  -webkit-animation: idle 4s linear infinite;
          animation: idle 4s linear infinite;
  -webkit-transition: stroke 0.2s, fill 0.5s;
  transition: stroke 0.2s, fill 0.5s;
}

@-webkit-keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-animation: idle 4s linear infinite, yippee 0.75s backwards;
          animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@-webkit-keyframes yippee {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    fill: var(--fill);
  }
}

@keyframes yippee {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    fill: var(--fill);
  }
}
